<div class="well" style="display:none" ng-show="!$scope.installed&&!$scope.checking">
    <div ng-show="!installing">
        <p>系统检测到 {{name}} 当前尚未安装。</p>
        <p>是否要开始安装？</p>
    </div>
    <div ng-show="installing" ng-bind-html-unsafe="installMsg"></div>
    <p ng-show="!installing">
        <button class="btn btn-default" style="margin-top:10px" onclick="history.back()">取消返回</button>
        <button class="btn btn-default" style="margin-top:10px" ng-click="startInstall()">开始安装</button>
    </p>
    <table class="table table-condensed" style="margin-top:20px;display:none" ng-show="showVerList&&pkgs.length>0">
        <thead>
            <tr>
                <th>版本</th>
                <th style="width:70px">大小</th>
                <th style="width:70px">软件源</th>
                <th style="width:80px"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pkg in pkgs">
                <td>{{pkg.name}} v{{pkg.version}}-{{pkg.release}}</td>
                <td>{{pkg.size}}</td>
                <td>{{'已安装'|iftrue:pkg.repo=='installed'}}{{pkg.repo|iftrue:pkg.repo!='installed'}}</td>
                <td>
                    <button class="btn btn-default btn-xs" ng-show="pkg.repo=='installed'"
                        ng-click="uninstall(pkg.repo, pkg.name, pkg.version, pkg.release)">清除此版本</button>
                    <button class="btn btn-default btn-xs" ng-show="pkg.repo!='installed'"
                        ng-click="install(pkg.repo, pkg.name, pkg.version, pkg.release)">安装此版本</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>