[Unit]
Description = InPanel

[Service]
Type = simple
User = root
Group = root
Type = simple
# WorkingDirectory = /usr/local/inpanel
# ExecStartPre =
ExecStart = /usr/local/inpanel/inpanel
PIDFile = /var/run/inpanel.pid
# ExecReload =
# ExecStop =
StartLimitInterval = 30min
RestartSec=5

[Install]
WantedBy = multi-user.target

# /lib/systemd/system/inpanel.service
# systemctl start inpanel.service && systemctl enable inpanel.service
