[Unit]
Description = InPanel Control Panel
After = network.target

[Service]
Type = simple
User = root
Group = root
ExecStart = /usr/bin/inpanel run
ExecStop = /usr/bin/inpanel stop
ExecReload = /usr/bin/inpanel reload
PIDFile = /var/run/inpanel.pid
Restart = always
RestartSec = 5
StartLimitInterval = 30min

[Install]
WantedBy = multi-user.target

# /lib/systemd/system/inpanel.service
# systemctl start inpanel.service && systemctl enable inpanel.service
