<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>文件预览</title>
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="CROGRAM" />
    <meta name="copyright" content="CROGRAM 程江科技" />
    <meta name="description" content="开源Linux服务器管理面板" />
    <meta name="keywords" content="InPanel, Linux, VPS, VPS Management, 开源, VPS管理面板, 开源Linux服务器管理面板" />
    <style>
        img {
            max-width: 90%;
        }
        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- <div>文件类型：{{mtype}}</div> -->
        <div class="text-center">
            <img src="{{data}}">
        </div>
    </div>
</body>

</html>