<div navbar ng-init="currentItem='utils.repository'"></div>
<div ng-show="!loaded">
    <div loading></div>
</div>

<div id="main" ng-show="loaded" style="display:none">
    <div class="module-header">
        <h3>软件仓库</h3>
    </div>

    <div class="tabbable" ng-init="load()">
        <ul class="nav nav-tabs">
            <li ng-class="'active' | iftrue:activeTabName=='brew'" ng-show="supported.brew"><a href="#brew" ng-click="tab_sec('brew')" data-toggle="tab">Homebrew</a></li>
            <li ng-class="'active' | iftrue:activeTabName=='yum'" ng-show="supported.yum"><a href="#yum" ng-click="tab_sec('yum')" data-toggle="tab">YUM</a></li>
            <li ng-class="'active' | iftrue:activeTabName=='dnf'" ng-show="supported.dnf"><a href="#dnf" ng-click="tab_sec('dnf')" data-toggle="tab">DNF</a></li>
            <li ng-class="'active' | iftrue:activeTabName=='apt'" ng-show="supported.apt"><a href="#apt" ng-click="tab_sec('apt')" data-toggle="tab">APT</a></li>
            <li ng-class="'active' | iftrue:activeTabName=='pip'" ng-show="supported.pip"><a href="#pip" ng-click="tab_sec('pip')" data-toggle="tab">PIP</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='brew'" id="brew" ng-show="supported.brew">
                <div class="panel panel-default" style="margin-top:15px;">
                    <div class="panel-heading">
                        <strong>Homebrew 管理设置</strong>
                        <span class="pull-right">
                            <span class="label label-success" ng-show="overview.brew && overview.brew.running">运行中</span>
                            <span class="label label-danger" ng-show="!overview.brew || !overview.brew.running">未运行</span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>版本：</strong>{{overview.brew && overview.brew.version || '-'}}</p>
                                <p><strong>安装路径：</strong>{{overview.brew && overview.brew.prefix || '-'}}</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-default btn-sm" ng-click="refresh('brew')" ng-disabled="loading.brew">
                                    <i class="glyphicon glyphicon-refresh"></i> 更新索引
                                </button>
                                <button class="btn btn-success btn-sm" ng-click="service_control('brew', 'start')" ng-disabled="loading.brew">
                                    <i class="glyphicon glyphicon-play"></i> 启动服务
                                </button>
                                <button class="btn btn-danger btn-sm" ng-click="service_control('brew', 'stop')" ng-disabled="loading.brew">
                                    <i class="glyphicon glyphicon-stop"></i> 停止服务
                                </button>
                                <button class="btn btn-primary btn-sm" ng-click="service_control('brew', 'restart')" ng-disabled="loading.brew">
                                    <i class="glyphicon glyphicon-repeat"></i> 重启服务
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Homebrew 软件库列表</strong>
                        <span class="pull-right">
                            <div class="input-group input-group-sm" style="width:260px;">
                                <input type="text" class="form-control" placeholder="搜索软件库..."
                                       ng-model="searchKeyword.brew" ng-change="search_repos('brew')">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="load_list('brew', true)">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </button>
                                </span>
                            </div>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div ng-show="loading.brew"><div waiting></div></div>
                        <table class="table table-hover table-bordered table-condensed" ng-hide="loading.brew">
                            <thead>
                                <tr>
                                    <th style="width:50px;">序号</th>
                                    <th>软件库名称</th>
                                    <th style="width:300px;">路径</th>
                                    <th style="width:150px;">创建时间</th>
                                    <th style="width:80px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="repo in repos.brew">
                                    <td class="text-right">{{$index+1}}</td>
                                    <td><a href="" ng-click="show_detail('brew', repo.name)">{{repo.name}}</a></td>
                                    <td><code style="font-size:11px;">{{repo.path}}</code></td>
                                    <td>{{repo.created || '-'}}</td>
                                    <td><button class="btn btn-default btn-xs" ng-click="show_detail('brew', repo.name)">详情</button></td>
                                </tr>
                                <tr ng-show="!repos.brew || repos.brew.length==0">
                                    <td colspan="5" class="text-center text-muted">暂无数据</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="detail.brew || loadingDetail.brew">
                    <div class="panel-heading">
                        <strong>Homebrew 软件库详情<span ng-show="detail.brew && detail.brew.name"> - {{detail.brew.name}}</span></strong>
                        <button class="btn btn-default btn-xs pull-right" ng-click="detail.brew=null">关闭</button>
                    </div>
                    <div class="panel-body">
                        <div ng-show="loadingDetail.brew"><div waiting></div></div>
                        <div ng-hide="loadingDetail.brew">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-8">
                                    <p><strong>路径：</strong><code style="font-size:11px;">{{detail.brew.path}}</code></p>
                                    <p><strong>创建时间：</strong>{{detail.brew.created || '-'}}</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <form class="form-inline" style="display:inline-block;" onsubmit="return false;" ng-submit="install_pkg('brew')">
                                        <div class="input-group input-group-sm" style="width:250px;">
                                            <input type="text" class="form-control" placeholder="安装软件包名称..." ng-model="installPkg.brew">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit" ng-disabled="installing.brew">
                                                    <i class="glyphicon glyphicon-download-alt"></i> 安装
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h5>软件列表</h5>
                            <div style="max-height:300px; overflow-y:auto;">
                                <table class="table table-hover table-bordered table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:50px;">序号</th>
                                            <th>软件名称</th>
                                            <th style="width:80px;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pkg in detail.brew.packages">
                                            <td class="text-right">{{$index+1}}</td>
                                            <td>{{pkg.name}}</td>
                                            <td><button class="btn btn-default btn-xs" ng-click="install_pkg('brew', pkg.name)">安装</button></td>
                                        </tr>
                                        <tr ng-show="!detail.brew.packages || detail.brew.packages.length==0">
                                            <td colspan="3" class="text-center text-muted">暂无软件数据</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='yum'" id="yum" ng-show="supported.yum">
                <div class="panel panel-default" style="margin-top:15px;">
                    <div class="panel-heading">
                        <strong>YUM 管理设置</strong>
                        <span class="pull-right">
                            <span class="label label-success" ng-show="overview.yum && overview.yum.running">运行中</span>
                            <span class="label label-danger" ng-show="!overview.yum || !overview.yum.running">未运行</span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p><strong>版本：</strong>{{overview.yum && overview.yum.version || '-'}}</p>
                                <p><strong>配置路径：</strong>{{overview.yum && overview.yum.config_path || '-'}}</p>
                            </div>
                            <div class="col-md-4 text-right">
                                <button class="btn btn-default btn-sm" ng-click="refresh('yum')" ng-disabled="loading.yum">
                                    <i class="glyphicon glyphicon-refresh"></i> 更新缓存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>YUM 软件库列表</strong>
                        <span class="pull-right">
                            <div class="input-group input-group-sm" style="width:260px;">
                                <input type="text" class="form-control" placeholder="搜索软件库..."
                                       ng-model="searchKeyword.yum" ng-change="search_repos('yum')">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="load_list('yum', true)">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </button>
                                </span>
                            </div>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div ng-show="loading.yum"><div waiting></div></div>
                        <table class="table table-hover table-bordered table-condensed" ng-hide="loading.yum">
                            <thead>
                                <tr>
                                    <th style="width:50px;">序号</th>
                                    <th>软件库名称</th>
                                    <th style="width:300px;">路径</th>
                                    <th style="width:150px;">创建时间</th>
                                    <th style="width:80px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="repo in repos.yum">
                                    <td class="text-right">{{$index+1}}</td>
                                    <td><a href="" ng-click="show_detail('yum', repo.name)">{{repo.name}}</a></td>
                                    <td><code style="font-size:11px;">{{repo.path}}</code></td>
                                    <td>{{repo.created || '-'}}</td>
                                    <td><button class="btn btn-default btn-xs" ng-click="show_detail('yum', repo.name)">详情</button></td>
                                </tr>
                                <tr ng-show="!repos.yum || repos.yum.length==0">
                                    <td colspan="5" class="text-center text-muted">暂无数据</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="detail.yum || loadingDetail.yum">
                    <div class="panel-heading">
                        <strong>YUM 软件库详情<span ng-show="detail.yum && detail.yum.name"> - {{detail.yum.name}}</span></strong>
                        <button class="btn btn-default btn-xs pull-right" ng-click="detail.yum=null">关闭</button>
                    </div>
                    <div class="panel-body">
                        <div ng-show="loadingDetail.yum"><div waiting></div></div>
                        <div ng-hide="loadingDetail.yum">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-8">
                                    <p><strong>路径：</strong><code style="font-size:11px;">{{detail.yum.path}}</code></p>
                                    <p><strong>创建时间：</strong>{{detail.yum.created || '-'}}</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <form class="form-inline" style="display:inline-block;" onsubmit="return false;" ng-submit="install_pkg('yum')">
                                        <div class="input-group input-group-sm" style="width:250px;">
                                            <input type="text" class="form-control" placeholder="安装软件包名称..." ng-model="installPkg.yum">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit" ng-disabled="installing.yum">
                                                    <i class="glyphicon glyphicon-download-alt"></i> 安装
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h5>软件列表</h5>
                            <div style="max-height:300px; overflow-y:auto;">
                                <table class="table table-hover table-bordered table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:50px;">序号</th>
                                            <th>软件名称</th>
                                            <th style="width:120px;">版本</th>
                                            <th style="width:120px;">仓库ID</th>
                                            <th style="width:80px;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pkg in detail.yum.packages">
                                            <td class="text-right">{{$index+1}}</td>
                                            <td>{{pkg.name}}</td>
                                            <td>{{pkg.version || '-'}}</td>
                                            <td>{{pkg.repoid || '-'}}</td>
                                            <td><button class="btn btn-default btn-xs" ng-click="install_pkg('yum', pkg.name)">安装</button></td>
                                        </tr>
                                        <tr ng-show="!detail.yum.packages || detail.yum.packages.length==0">
                                            <td colspan="5" class="text-center text-muted">暂无软件数据</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='dnf'" id="dnf" ng-show="supported.dnf">
                <div class="panel panel-default" style="margin-top:15px;">
                    <div class="panel-heading">
                        <strong>DNF 管理设置</strong>
                        <span class="pull-right">
                            <span class="label label-success" ng-show="overview.dnf && overview.dnf.running">运行中</span>
                            <span class="label label-danger" ng-show="!overview.dnf || !overview.dnf.running">未运行</span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p><strong>版本：</strong>{{overview.dnf && overview.dnf.version || '-'}}</p>
                                <p><strong>配置路径：</strong>{{overview.dnf && overview.dnf.config_path || '-'}}</p>
                            </div>
                            <div class="col-md-4 text-right">
                                <button class="btn btn-default btn-sm" ng-click="refresh('dnf')" ng-disabled="loading.dnf">
                                    <i class="glyphicon glyphicon-refresh"></i> 更新缓存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>DNF 软件库列表</strong>
                        <span class="pull-right">
                            <div class="input-group input-group-sm" style="width:260px;">
                                <input type="text" class="form-control" placeholder="搜索软件库..."
                                       ng-model="searchKeyword.dnf" ng-change="search_repos('dnf')">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="load_list('dnf', true)">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </button>
                                </span>
                            </div>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div ng-show="loading.dnf"><div waiting></div></div>
                        <table class="table table-hover table-bordered table-condensed" ng-hide="loading.dnf">
                            <thead>
                                <tr>
                                    <th style="width:50px;">序号</th>
                                    <th>软件库名称</th>
                                    <th style="width:300px;">路径</th>
                                    <th style="width:150px;">创建时间</th>
                                    <th style="width:80px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="repo in repos.dnf">
                                    <td class="text-right">{{$index+1}}</td>
                                    <td><a href="" ng-click="show_detail('dnf', repo.name)">{{repo.name}}</a></td>
                                    <td><code style="font-size:11px;">{{repo.path}}</code></td>
                                    <td>{{repo.created || '-'}}</td>
                                    <td><button class="btn btn-default btn-xs" ng-click="show_detail('dnf', repo.name)">详情</button></td>
                                </tr>
                                <tr ng-show="!repos.dnf || repos.dnf.length==0">
                                    <td colspan="5" class="text-center text-muted">暂无数据</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="detail.dnf || loadingDetail.dnf">
                    <div class="panel-heading">
                        <strong>DNF 软件库详情<span ng-show="detail.dnf && detail.dnf.name"> - {{detail.dnf.name}}</span></strong>
                        <button class="btn btn-default btn-xs pull-right" ng-click="detail.dnf=null">关闭</button>
                    </div>
                    <div class="panel-body">
                        <div ng-show="loadingDetail.dnf"><div waiting></div></div>
                        <div ng-hide="loadingDetail.dnf">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-8">
                                    <p><strong>路径：</strong><code style="font-size:11px;">{{detail.dnf.path}}</code></p>
                                    <p><strong>创建时间：</strong>{{detail.dnf.created || '-'}}</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <form class="form-inline" style="display:inline-block;" onsubmit="return false;" ng-submit="install_pkg('dnf')">
                                        <div class="input-group input-group-sm" style="width:250px;">
                                            <input type="text" class="form-control" placeholder="安装软件包名称..." ng-model="installPkg.dnf">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit" ng-disabled="installing.dnf">
                                                    <i class="glyphicon glyphicon-download-alt"></i> 安装
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h5>软件列表</h5>
                            <div style="max-height:300px; overflow-y:auto;">
                                <table class="table table-hover table-bordered table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:50px;">序号</th>
                                            <th>软件名称</th>
                                            <th style="width:120px;">版本</th>
                                            <th style="width:120px;">仓库ID</th>
                                            <th style="width:80px;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pkg in detail.dnf.packages">
                                            <td class="text-right">{{$index+1}}</td>
                                            <td>{{pkg.name}}</td>
                                            <td>{{pkg.version || '-'}}</td>
                                            <td>{{pkg.repoid || '-'}}</td>
                                            <td><button class="btn btn-default btn-xs" ng-click="install_pkg('dnf', pkg.name)">安装</button></td>
                                        </tr>
                                        <tr ng-show="!detail.dnf.packages || detail.dnf.packages.length==0">
                                            <td colspan="5" class="text-center text-muted">暂无软件数据</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='apt'" id="apt" ng-show="supported.apt">
                <div class="panel panel-default" style="margin-top:15px;">
                    <div class="panel-heading">
                        <strong>APT 管理设置</strong>
                        <span class="pull-right">
                            <span class="label label-success" ng-show="overview.apt && overview.apt.running">运行中</span>
                            <span class="label label-danger" ng-show="!overview.apt || !overview.apt.running">未运行</span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p><strong>版本：</strong>{{overview.apt && overview.apt.version || '-'}}</p>
                                <p><strong>配置路径：</strong>{{overview.apt && overview.apt.config_path || '-'}}</p>
                            </div>
                            <div class="col-md-4 text-right">
                                <button class="btn btn-default btn-sm" ng-click="refresh('apt')" ng-disabled="loading.apt">
                                    <i class="glyphicon glyphicon-refresh"></i> 更新索引
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>APT 软件库列表</strong>
                        <span class="pull-right">
                            <div class="input-group input-group-sm" style="width:260px;">
                                <input type="text" class="form-control" placeholder="搜索软件库..."
                                       ng-model="searchKeyword.apt" ng-change="search_repos('apt')">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="load_list('apt', true)">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </button>
                                </span>
                            </div>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div ng-show="loading.apt"><div waiting></div></div>
                        <table class="table table-hover table-bordered table-condensed" ng-hide="loading.apt">
                            <thead>
                                <tr>
                                    <th style="width:50px;">序号</th>
                                    <th>软件库名称</th>
                                    <th style="width:300px;">路径</th>
                                    <th style="width:150px;">创建时间</th>
                                    <th style="width:80px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="repo in repos.apt">
                                    <td class="text-right">{{$index+1}}</td>
                                    <td><a href="" ng-click="show_detail('apt', repo.name)">{{repo.name}}</a></td>
                                    <td><code style="font-size:11px;">{{repo.path}}</code></td>
                                    <td>{{repo.created || '-'}}</td>
                                    <td><button class="btn btn-default btn-xs" ng-click="show_detail('apt', repo.name)">详情</button></td>
                                </tr>
                                <tr ng-show="!repos.apt || repos.apt.length==0">
                                    <td colspan="5" class="text-center text-muted">暂无数据</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="detail.apt || loadingDetail.apt">
                    <div class="panel-heading">
                        <strong>APT 软件库详情<span ng-show="detail.apt && detail.apt.name"> - {{detail.apt.name}}</span></strong>
                        <button class="btn btn-default btn-xs pull-right" ng-click="detail.apt=null">关闭</button>
                    </div>
                    <div class="panel-body">
                        <div ng-show="loadingDetail.apt"><div waiting></div></div>
                        <div ng-hide="loadingDetail.apt">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-8">
                                    <p><strong>路径：</strong><code style="font-size:11px;">{{detail.apt.path}}</code></p>
                                    <p><strong>创建时间：</strong>{{detail.apt.created || '-'}}</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <form class="form-inline" style="display:inline-block;" onsubmit="return false;" ng-submit="install_pkg('apt')">
                                        <div class="input-group input-group-sm" style="width:250px;">
                                            <input type="text" class="form-control" placeholder="安装软件包名称..." ng-model="installPkg.apt">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit" ng-disabled="installing.apt">
                                                    <i class="glyphicon glyphicon-download-alt"></i> 安装
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h5>软件列表</h5>
                            <div style="max-height:300px; overflow-y:auto;">
                                <table class="table table-hover table-bordered table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:50px;">序号</th>
                                            <th>软件名称</th>
                                            <th style="width:120px;">版本</th>
                                            <th style="width:80px;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pkg in detail.apt.packages">
                                            <td class="text-right">{{$index+1}}</td>
                                            <td>{{pkg.name}}</td>
                                            <td>{{pkg.version || '-'}}</td>
                                            <td><button class="btn btn-default btn-xs" ng-click="install_pkg('apt', pkg.name)">安装</button></td>
                                        </tr>
                                        <tr ng-show="!detail.apt.packages || detail.apt.packages.length==0">
                                            <td colspan="4" class="text-center text-muted">暂无软件数据</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='pip'" id="pip" ng-show="supported.pip">
                <div class="panel panel-default" style="margin-top:15px;">
                    <div class="panel-heading">
                        <strong>PIP 管理设置</strong>
                        <span class="pull-right">
                            <span class="label label-success" ng-show="overview.pip && overview.pip.running">运行中</span>
                            <span class="label label-danger" ng-show="!overview.pip || !overview.pip.running">未运行</span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p><strong>版本：</strong>{{overview.pip && overview.pip.version || '-'}}</p>
                                <p><strong>Python：</strong>{{overview.pip && overview.pip.python || '-'}}</p>
                            </div>
                            <div class="col-md-4 text-right">
                                <button class="btn btn-default btn-sm" ng-click="refresh('pip')" ng-disabled="loading.pip">
                                    <i class="glyphicon glyphicon-refresh"></i> 刷新
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>PIP 软件源列表</strong>
                        <span class="pull-right">
                            <div class="input-group input-group-sm" style="width:260px;">
                                <input type="text" class="form-control" placeholder="搜索已安装包..."
                                       ng-model="searchKeyword.pip" ng-change="search_repos('pip')">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="load_list('pip', true)">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </button>
                                </span>
                            </div>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div ng-show="loading.pip"><div waiting></div></div>
                        <table class="table table-hover table-bordered table-condensed" ng-hide="loading.pip">
                            <thead>
                                <tr>
                                    <th style="width:50px;">序号</th>
                                    <th>软件源名称</th>
                                    <th style="width:300px;">地址</th>
                                    <th style="width:150px;">配置文件</th>
                                    <th style="width:80px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="repo in repos.pip">
                                    <td class="text-right">{{$index+1}}</td>
                                    <td><a href="" ng-click="show_detail('pip', repo.name)">{{repo.name}}</a></td>
                                    <td><code style="font-size:11px;">{{repo.path}}</code></td>
                                    <td>{{repo.config_file || '-'}}</td>
                                    <td><button class="btn btn-default btn-xs" ng-click="show_detail('pip', repo.name)">详情</button></td>
                                </tr>
                                <tr ng-show="!repos.pip || repos.pip.length==0">
                                    <td colspan="5" class="text-center text-muted">暂无数据</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="detail.pip || loadingDetail.pip">
                    <div class="panel-heading">
                        <strong>PIP 软件源详情<span ng-show="detail.pip && detail.pip.name"> - {{detail.pip.name}}</span></strong>
                        <button class="btn btn-default btn-xs pull-right" ng-click="detail.pip=null">关闭</button>
                    </div>
                    <div class="panel-body">
                        <div ng-show="loadingDetail.pip"><div waiting></div></div>
                        <div ng-hide="loadingDetail.pip">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-8">
                                    <p><strong>地址：</strong><code style="font-size:11px;">{{detail.pip.path}}</code></p>
                                    <p><strong>配置文件：</strong>{{detail.pip.config_file || '-'}}</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <form class="form-inline" style="display:inline-block;" onsubmit="return false;" ng-submit="install_pkg('pip')">
                                        <div class="input-group input-group-sm" style="width:250px;">
                                            <input type="text" class="form-control" placeholder="安装软件包名称..." ng-model="installPkg.pip">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit" ng-disabled="installing.pip">
                                                    <i class="glyphicon glyphicon-download-alt"></i> 安装
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h5>已安装包列表</h5>
                            <div style="max-height:300px; overflow-y:auto;">
                                <table class="table table-hover table-bordered table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:50px;">序号</th>
                                            <th>软件名称</th>
                                            <th style="width:120px;">版本</th>
                                            <th style="width:80px;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pkg in detail.pip.packages">
                                            <td class="text-right">{{$index+1}}</td>
                                            <td>{{pkg.name}}</td>
                                            <td>{{pkg.version || '-'}}</td>
                                            <td><button class="btn btn-default btn-xs" ng-click="install_pkg('pip', pkg.name)">安装/更新</button></td>
                                        </tr>
                                        <tr ng-show="!detail.pip.packages || detail.pip.packages.length==0">
                                            <td colspan="4" class="text-center text-muted">暂无软件数据</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
