html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 12px;
}

.navbar {
    margin-top: 20px;
}

.footer-sticky {
    height: 90px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.module-header {
    margin-bottom: 30px;
}

.padding-bottom {
    padding-bottom: 10px;
}

/* table */

.tabbable .tab-pane {
    margin-top: 10px;
}

.file-list .breadcrumb {
    background: none;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
}

.table-bordered thead tr th {
    background-color: #f9f9f9;
    color: #444;
    text-transform: uppercase;
    border-bottom-width: 1px;
}

/* bootstrap patch */
.table-borderless td,
.table-borderless th {
    border: 0 !important
}

.table-layout {
    margin: 0;
}

.table-layout td,
.table-layout th {
    padding-left: 0;
}

.table-nopadding td,
.table-nopadding th {
    padding: 0;
}

.table td.td-borderless,
.table th.td-borderless {
    border: 0;
}

.table-wrap {
    word-break: break-all;
    word-wrap: break-all;
}

.form-horizontal-small .control-label {
    width: 116px;
}

/* CodeMirror patch */
.CodeMirror {
    font-family: "Courier New", "Lucida Console", "Lucida Sans Typewriter", "Consolas";
    border: 1px solid #ddd;
    font-size: 13px;
}

.activeline {
    background: #e8f2ff !important;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

span.CodeMirror-matchhighlight {
    background: #e9e9e9;
}

.CodeMirror-focused span.CodeMirror-matchhighlight {
    background: #e7e4ff !important;
}

.shell-form {
    height: auto!important;
    min-height: 200px;
    padding: 4px;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    font-family: monospace;
    font-size: 1em;
    word-break: break-all;
}
.shell-form span {
    display: block;
    font-family: monospace;
    white-space: pre-wrap !important;
    color: #fff;
    background-color: #333;
}

.shell-input {
    width: 100%;
    border: 0;
    background-color: #333;
    color: #fff;
    font-family: monospace;
    font-size: 1em;
}