#main {
	padding: 0 15px;
}

#footer {
	margin-top: 50px;
}

#footer .row-fluid [class*="span"] {
	min-height: 20px;
}

#footer a.comment {
	text-decoration: none;
}

.module-header {
	margin-bottom: 30px;
}

a.black, a.black:hover, a.black:active, a.black:visited {
	color: black;
}

/* table & widget */

.widget .table td {
	vertical-align: middle;
}

.table-bordered th {
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	
	font-size: 12px;
	color: #444;
	text-transform: uppercase;
}

.widget {
	position: relative;
	clear: both;
	width: auto;
	margin-bottom: 2em;
	overflow: hidden;
}
	
.widget-header {
	position: relative;
	height: 40px;
	line-height: 40px;
	background: #F9F9F9;
	border: 1px solid #E5E5E5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;
}	
	
.widget-header h3 {
	position: relative;
	top: 2px;
	left: 10px;
	display: inline-block;
	margin-right: 3em;
	font-size: 14px;
	font-weight: 800;
	color: #555;
	line-height: 18px;
	text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}
	
.widget-header > [class^="icon-"], .widget-header > [class*=" icon-"] {
	display: inline-block;
	margin-left: 13px;
	margin-right: -2px;
	font-size: 16px;
	color: #555;
	vertical-align: middle;
}

.widget-content {
	padding: 20px 15px 15px;
	background: #FFF;
	border: 1px solid #E5E5E5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget-header+.widget-content {
	border-top: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.widget-nopad .widget-content {
	padding: 0;
}

/* Widget Content Clearfix */	
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}
.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

/* Widget Table */
.widget-table .widget-content {
	padding: 0;
}
.widget-table .table {
	margin-bottom: 0;
	border: none;
}
.widget-table .table tr td:first-child {
	border-left: none;
}
.widget-table .table tr th:first-child {
	border-left: none;
}

/* Widget Plain */
.widget-plain {
	background: transparent;
	border: none;
}
.widget-plain .widget-content {
	padding: 0;
	background: transparent;
	border: none;
}

/* Widget Box */
.widget-box {	
}
.widget-box .widget-content {	
	background: #E3E3E3;	
	background: #FFF;
}

/* bootstrap patch */
.table-borderless td,
.table-borderless th {
    border: 0 !important
}
.table-layout {
	margin: 0;
}
.table-layout td, .table-layout th {
	padding-left: 0;
}
.table-nopadding td, .table-nopadding th {
	padding: 0;
}
.table td.td-right, .table th.td-right {
	text-align: right;
}
.table td.td-center, .table th.td-center {
	text-align: center;
}
.table td.td-borderless, .table th.td-borderless {
	border: 0;
}
.table-button td, .table-button th {
	line-height: 26px;
}
.table-button td input, .table-button .input-append {
	margin-bottom: 0;
}
.form-horizontal-small .control-label {
	width: 100px;
}
.form-horizontal-small .controls {
	margin-left: 120px;
}
.form-horizontal .control-group-mini {
	margin-bottom: 10px;
}
.control-group-mini .control-label {
	width: 60px;
}
.control-group-mini .controls {
	margin-left: 75px;
}
.navbar .nav > li > a {
	padding: 10px 13px 10px;
}
.navbar .divider-vertical {
	margin: 0;
}
input[type="text"].input-flat {
	height: 16px;
}
.radio.inline, .checkbox.inline {
	padding-top: 0;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
	padding-top: 0;
}

/* CodeMirror patch */
.CodeMirror {
	font-family: "Courier New", "Lucida Console", "Lucida Sans Typewriter", "Consolas";
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	line-height: 20px;
}
.activeline {background: #e8f2ff !important;}
.CodeMirror-scroll {
height: auto;
overflow-y: hidden;
overflow-x: auto;
}
span.CodeMirror-matchhighlight { background: #e9e9e9 }
.CodeMirror-focused span.CodeMirror-matchhighlight { background: #e7e4ff; !important }