<div navbar ng-init="currentItem='utils.process'"></div>
<div ng-show="!loaded">
    <div loading></div>
</div>

<div id="main" ng-show="loaded" style="display:none">
    <div class="module-header">
        <h3>进程管理</h3>
    </div>

    <div class="tabbable" ng-init="load()">
        <ul class="nav nav-tabs">
            <li ng-class="'active' | iftrue:activeTabName=='list'"><a href="#list" ng-click="tab_sec('list')" data-toggle="tab">进程列表</a></li>
            <li ng-class="'active' | iftrue:activeTabName=='other'"><a href="#other" ng-click="tab_sec('other')" data-toggle="tab">待续</a></li>
            <li class="pull-right" ng-show="activeTabName=='list'">
                <button class="btn btn-default btn-sm" title="当前进程数量" ng-show="process && process.total">数量: {{process.total}}</button>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default" title="刷新进程列表" ng-click="refresh()" ng-disabled="auto_refresh"><i class="glyphicon glyphicon-refresh"></i></button>
                    <button class="btn btn-default" title="开启自动刷新" ng-click="auto_refresh_open()" ng-disabled="auto_refresh"><i class="glyphicon glyphicon-play"></i></button>
                    <button class="btn btn-default" title="关闭自动刷新" ng-click="auto_refresh_close()" ng-disabled="!auto_refresh"><i class="glyphicon glyphicon-stop"></i></button>
                </div>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='list'" id="list">
                <div ng-show="init_process"><div waiting></div></div>
                <div ng-show="!init_process">
                    <table class="table table-bordered table-condensed table-responsive table-wrap">
                        <thead>
                            <tr>
                                <th style="width:50px;">#</th>
                                <th style="width:80px;">状态</th>
                                <th style="width:50px;">进程ID</th>
                                <th class="hidden-xs" style="width:50px;">父进程</th>
                                <th>名称</th>
                                <th class="hidden-xs">内存</th>
                                <th class="hidden-xs" style="width:65px;">虚拟内存</th>
                                <th style="width:90px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in process.process">
                                <td>{{$index+1}}</td>
                                <!-- <td ng-bind-html-unsafe="info.status | process.status"></td> -->
                                <td>{{info.status}}</td>
                                <td>{{info.pid}}</td>
                                <td class="hidden-xs">{{info.ppid}}</td>
                                <td>{{info.name}}</td>
                                <td class="hidden-xs">{{info.rss | bytes2human}}</td>
                                <td class="hidden-xs">{{info.vms | bytes2human}}</td>
                                <td>
                                    <button class="btn btn-default btn-xs" ng-show="info.pid > 0" ng-click="process_detail(info)">查看</button>
                                    <button class="btn btn-default btn-xs" ng-show="info.pid > 0" ng-click="processkillconfirm(info)">终止</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='other'" id="other">
                待开发功能
            </div>
        </div>
    </div>
</div>


<div id="processkillconfirm" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">终止进程 {{delete_process.name}}</h3>
            </div>
            <div class="modal-body">
                <p>确定终止进程 {{delete_process.name}} [PID: {{delete_process.pid}}] 吗？</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-danger" onclick="$('#processkillconfirm').modal('hide')" ng-click="processkill()">确认</button>
            </div>
        </div>
    </div>
</div>

<div id="process_detail_dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">进程详情 {{current_process.name}}</h3>
            </div>
            <div class="modal-body">
                <div class="tabbable">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">进程详情</a></li>
                        <li role="presentation"><a href="#file" aria-controls="file" role="tab" data-toggle="tab">打开的文件</a></li>
                        <li role="presentation"><a href="#network" aria-controls="network" role="tab" data-toggle="tab">网络</a></li>
                        <button class="btn btn-default pull-right" title="刷新" ng-click="load_detial(current_process.pid)"><i class="glyphicon glyphicon-refresh"></i></button>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="info" role="tabpanel">
                            <div ng-show="!current_process_loaded.info">
                                <div waiting ng-init="waitingText='正在加载中，请稍候...'"></div>
                            </div>
                            <table class="table table-bordered table-condensed table-responsive table-wrap" ng-show="current_process_loaded.info && current_process.info">
                                <tbody>
                                    <tr><td style="width: 80px;">进程名</td><td>{{current_process.info.name}}</td></tr>
                                    <tr><td>进程ID</td><td>{{current_process.info.pid}}</td></tr>
                                    <tr><td>状态</td><td>{{current_process.info.status}}</td></tr>
                                    <tr>
                                        <td>创建时间</td>
                                        <td>{{current_process.info.create_time * 1000 | datetime}}</td>
                                    </tr>
                                    <tr><td>用户</td><td>{{current_process.info.username}}（ID：{{current_process.info.uids[0]}}）</td></tr>
                                    <tr><td>gid</td><td>{{current_process.info.gids[0]}}</td></tr>
                                    <tr><td>父进程ID</td><td>{{current_process.info.ppid}}</td></tr>
                                    <tr><td>工作目录</td><td><div>{{current_process.info.cwd}}</div></td></tr>
                                    <tr>
                                        <td>进程路径</td>
                                        <td><div>{{current_process.info.exe}}</div></td>
                                    </tr>
                                    <tr>
                                        <td>CPU时间</td>
                                        <td>系统：{{current_process.info.cpu_times[0]}}，用户：{{current_process.info.cpu_times[0]}}</td>
                                    </tr>
                                    <tr><td>CPU利用率</td><td>{{current_process.info.cpu_percent}}</td></tr>
                                    <tr>
                                        <td>内存利用率</td>
                                        <td>{{current_process.info.memory_percent}}</td>
                                    </tr>
                                    <tr>
                                        <td>实际内存</td>
                                        <td>{{current_process.info.memory_info[0] | bytes2human}}</td>
                                    </tr>
                                    <tr>
                                        <td>虚拟内存</td>
                                        <td>{{current_process.info.memory_info[1] | bytes2human}}</td>
                                    </tr>
                                    <tr>
                                        <td>共享内存</td>
                                        <td>{{current_process.info.memory_info[2] | bytes2human}}</td>
                                    </tr>
                                    <tr>
                                        <td>专用内存</td>
                                        <td>{{current_process.info.memory_info[3] | bytes2human}}</td>
                                    </tr>
                                    <tr>
                                        <td>启动命令</td>
                                        <td><div>{{current_process.info.cmdline.join(' ')}}</div></td>
                                    </tr>
                                    <tr>
                                        <td>终端</td>
                                        <td>{{current_process.info.terminal || '无'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="file" role="tabpanel">
                            <div ng-show="!current_process_loaded.file">
                                <div waiting ng-init="waitingText='正在加载中，请稍候...'"></div>
                            </div>
                            <table class="table table-bordered table-condensed table-responsive table-wrap" ng-show="current_process_loaded.file && current_process.file">
                                <tbody>
                                    <tr>
                                        <th style="width:30px;">#</th>
                                        <th>路径</th>
                                        <th style="width:80px;">描述符编号</th>
                                    </tr>
                                    <tr ng-repeat="info in current_process.file">
                                        <td>{{$index+1}}</td>
                                        <td><div>{{info[0]}}</div></td>
                                        <td>{{info[1]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="network" role="tabpanel">
                            <div ng-show="!current_process_loaded.network">
                                <div waiting ng-init="waitingText='正在加载中，请稍候...'"></div>
                            </div>
                            <table class="table table-bordered table-condensed table-responsive table-wrap" ng-show="current_process_loaded.network && current_process.network">
                                <thead>
                                    <tr>
                                        <th style="width:30px;">#</th>
                                        <th>本地IP</th>
                                        <th>远程IP</th>
                                        <th>状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="info in current_process.network">
                                        <td>{{$index+1}}</td>
                                        <td>[{{info.local.ip}}]:{{info.local.port}}</td>
                                        <td ng-show="info.remote">[{{info.remote.ip}}]:{{info.remote.port}}</td>
                                        <td ng-show="!info.remote">无</td>
                                        <td>{{info.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button> -->
                <button class="btn btn-default" onclick="$('#process_detail_dialog').modal('hide')" ng-click="process_detail_close()">关闭</button>
            </div>
        </div>
    </div>
</div>