<div navbar ng-init="currentItem='utils.shell'"></div>
<div ng-show="!loaded">
    <div loading></div>
</div>

<div id="main" ng-show="loaded" style="display:none">
    <div class="module-header">
        <h3>SHELL</h3>
    </div>

    <div class="tabbable" ng-init="load()">
        <ul class="nav nav-tabs">
            <li ng-class="'active' | iftrue:activeTabName=='base'"><a href="#base" ng-click="tab_sec('base')" data-toggle="tab">基础版</a></li>
            <li ng-class="'active' | iftrue:activeTabName=='advance'"><a href="#advance" ng-click="tab_sec('advance')" data-toggle="tab">高级版</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='base'" id="base">
                <form class="shell-form" onsubmit="return false;" ng-submit="send_base_cmd()">
                    <span ng-repeat="line in base_cmds">{{line}}</span>
                    <input class="shell-input" type="text" ng-model="base_input" id="base_input" placeholder="$" autofocus autocomplete="off">
                </form>
            </div>
            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='advance'" id="advance">
                <p>开发中</p>
            </div>
        </div>
    </div>
</div>