<div navbar ng-init="currentItem='task'"></div>
<div ng-show="!loaded">
    <div loading></div>
</div>

<div id="main" ng-show="loaded">
    <div class="module-header">
        <h3>当前 Cron 作业列表</h3>
    </div>
    <div ng-init="load()">
        <table class="table table-striped responsive-table" id="cron_jobs_table">
            <thead>
                <tr>
                    <th>分钟</th>
                    <th>小时</th>
                    <th>天</th>
                    <th>月份</th>
                    <th>工作日</th>
                    <th>命令</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <tr id="info_row_1">
                    <td data-title="分钟"><span id="minute_info_1">*/5</span></td>
                    <td data-title="小时"><span id="hour_info_1">*</span></td>
                    <td data-title="天"><span id="day_info_1">*</span></td>
                    <td data-title="月份"><span id="month_info_1">*</span></td>
                    <td data-title="工作日"><span id="weekday_info_1">*</span></td>
                    <td data-title="命令" class="command-cell">
                        <code id="command_htmlsafe_1">/usr/local/bin/php /home/uiiecn/public_html/path/to/cron/script</code>
                        <input type="hidden" id="command_info_1" value="/usr/local/bin/php /home/uiiecn/public_html/path/to/cron/script">
                        <input type="hidden" id="linekey_1" value="3150357028">
                    </td>
                    <td data-title="操作">
                        <span class="btn btn-link" id="lnkEdit_1">
                            <span class="glyphicon glyphicon-pencil"></span> 编辑
                        </span>&nbsp;&nbsp;&nbsp;
                        <span class="btn btn-link" id="lnkDelete_1">
                            <span class="glyphicon glyphicon-trash"></span> 删除
                        </span>
                    </td>
                </tr>
                <tr id="info_row_2">
                    <td data-title="分钟"><span id="minute_info_2">0</span></td>
                    <td data-title="小时"><span id="hour_info_2">0</span></td>
                    <td data-title="天"><span id="day_info_2">1,15</span></td>
                    <td data-title="月份"><span id="month_info_2">*</span></td>
                    <td data-title="工作日"><span id="weekday_info_2">*</span></td>
                    <td data-title="命令" class="command-cell">
                        <code id="command_htmlsafe_2">/usr/local/bin/ea-php56
                            /home/uiiecn/domain_path/path/to/cron/script</code>
                        <input type="hidden" id="command_info_2" value="/usr/local/bin/ea-php56 /home/uiiecn/domain_path/path/to/cron/script">
                        <input type="hidden" id="linekey_2" value="2878652586">
                    </td>
                    <td data-title="操作">
                        <span class="btn btn-link" id="lnkEdit_2">
                            <span class="glyphicon glyphicon-pencil"></span> 编辑
                        </span>&nbsp;&nbsp;&nbsp;
                        <span class="btn btn-link" id="lnkDelete_2">
                            <span class="glyphicon glyphicon-trash"></span> 删除
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>