#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/inpanel/etc/init.d
	mkdir -p $(CURDIR)/debian/inpanel/usr/lib/systemd/system
	mkdir -p $(CURDIR)/debian/inpanel/var/log/inpanel

	cp scripts/systemd/inpanel.service $(CURDIR)/debian/inpanel/usr/lib/systemd/system/
	cp scripts/init.d/ubuntu/inpanel $(CURDIR)/debian/inpanel/etc/init.d/
	chmod 755 $(CURDIR)/debian/inpanel/etc/init.d/inpanel

override_dh_builddeb:
	find $(CURDIR)/debian/inpanel -type d -name __pycache__ -prune -exec rm -rf {} + 2>/dev/null || true
	find $(CURDIR)/debian/inpanel -name '*.pyc' -delete 2>/dev/null || true
	dh_builddeb

override_dh_installsystemd:
	dh_installsystemd --name=inpanel
