<div navbar ng-init="currentItem='utils.ftp'"></div>
<div ng-show="!loaded">
	<div loading></div>
</div>

<div id="main" ng-show="loaded" style="display:none">
	<div class="module-header">
		<h3>FTP 管理</h3>
	</div>

	<p>FTP管理功能即将推出，敬请留意 Intranet 的版本更新。<a href="#/setting?s=upversion">检测新版本</a></p>
	<p>我们建议您可以使用更为安全的 SFTP 工具来上传和管理文件，此类工具有 SecureFX、WinSCP 等。</p>

	<div class="tabbable" ng-init="load()">
		<ul class="nav nav-tabs">
			<li ng-class="'active' | iftrue:activeTabName=='users'">
				<a href="#users" ng-click="sec('users')" data-toggle="tab">用户</a>
			</li>
			<li ng-class="'active' | iftrue:activeTabName=='process'">
				<a href="#process" ng-click="sec('process')" data-toggle="tab">进程</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='users'" id="users">
				<div>
					<p>FTP 用户列表、新增、删除、编辑</p>
				</div>
			</div>
			<div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='process'" id="process">
				<div>
					<p>FTP 进程：列表、查看、关闭</p>
				</div>
			</div>
		</div>
	</div>
</div>