<div class="navbar navbar-default" ng-init="$parent.navbar_loaded=true">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Intranet</a>
	</div>
</div>

<div class="panel panel-default" ng-show="!Auth.processing" style="display:none">
	<div class="panel-heading">
		<div class="panel-title">
			<i class="glyphicon glyphicon-ban-circle"></i>
			<span> 页面不存在</span>
		</div>
	</div>
	<div class="panel-body">
		<p>请检查您是否输入了正确的地址！</p>
		<button class="btn btn-default btn-sm" onclick="history.back()">返回上一页</button>
	</div>
</div>
