<div navbar ng-init="currentItem='utils.firewall'"></div>
<div ng-show="!loaded">
    <div loading></div>
</div>

<div id="main" ng-show="loaded" style="display:none">
    <div class="module-header">
        <h3>防火墙（开发中）</h3>
    </div>

    <div class="tabbable" ng-init="load()">
        <ul class="nav nav-tabs">
            <li ng-class="'active' | iftrue:activeTabName=='iptables'"><a href="#iptables" ng-click="tab_sec('iptables')" data-toggle="tab">iptables</a></li>
            <li ng-class="'active' | iftrue:activeTabName=='firewalld'"><a href="#firewalld" ng-click="tab_sec('firewalld')" data-toggle="tab">firewalld</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='firewalld'" id="firewalld">
                <div ng-show="loading"><div waiting></div></div>
                <div ng-hide="loading">
                    firewalld 规则列表
                </div>
            </div>
            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='iptables'" id="iptables">
                <div ng-show="loading"><div waiting></div></div>
                <div ng-hide="loading">
                    iptables 规则列表
                </div>
            </div>
        </div>
    </div>
</div>