<table class="table table-hover">
    <tbody>
        <tr>
            <td colspan="3">注意：尽量不要对日志文件进行修改，否则可能导致新日志无法写入。</td>
        </tr>
        <tr ng-repeat="item in items">
            <td style="width:120px;">{{item.name}}</td>
            <td>
                <i class="glyphicon glyphicon-folder-open" ng-show="item.isdir"></i>
                <i class="glyphicon glyphicon-file" ng-show="item.isfile"></i>
                {{item.path}}
            </td>
            <td style="width:100px">
                <a class="btn btn-default btn-xs" href="#/file?path={{item.path}}" ng-show="item.isdir">
                    打开 <i class="icon-chevron-right"></i>
                </a>
                <a class="btn btn-default btn-xs" href="#/file?file={{item.path}}" ng-show="item.isfile">
                    打开 <i class="icon-chevron-right"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>