<div navbar ng-init="currentItem='utils.remote'"></div>
<div ng-show="!loaded">
    <div loading></div>
</div>

<div id="main" ng-show="loaded" style="display:none" ng-init="load()">
    <div class="module-header">
        <h3>
            <span ng-show="action=='new'">新增网络磁盘</span>
            <span ng-show="action=='edit'">编辑网络磁盘</span>
        </h3>
    </div>
    <div class="tabbable">
        <div class="well" ng-show="loading_info">
            <img src="images/loading.gif" style="margin-right: 5px;"> 正在加载详情，请稍候...
        </div>
        <div class="form-group" ng-show="!loading_info">
            类型：{{storage_info.type}}
            名称：{{storage_info.name}}
            <div class="form-inline">
                <label class="col-sm-2 control-label">磁盘类别</label>
                <div class="controls">
                    <select class="form-control" ng-model="storage_info.type">
                        <option value="ftp">FTP</option>
                        <option value="webdav">WebDAV</option>
                    </select>
                </div>
            </div>
            <div class="form-inline">
                <label class="col-sm-2 control-label">磁盘名称</label>
                <div class="controls">
                    <input class="form-control" ng-model="storage_info.name" type="text" placeholder="名称">
                </div>
            </div>
            <p>
                <button class="btn btn-primary" ng-show="action=='new'">保存新增</button>
                <button class="btn btn-primary" ng-show="action=='edit'">保存修改</button>
                <button class="btn btn-warning" ng-show="action=='edit'">重置表单</button>
                <a class="btn btn-default" href="#/storage?s=remote">取消返回</a>
            </p>
        </div>

    </div>

</div>