<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/main">InPanel</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="'active' | ifmatch:[currentItem,'main']"><a href="#/main">首页</a></li>
                <li ng-class="'active' | ifmatch:[currentItem,'service(..*)?']"><a href="#/service">服务</a></li>
                <li ng-class="'active' | ifmatch:[currentItem,'file']"><a href="#/file">文件</a></li>
                <li ng-class="'active' | ifmatch:[currentItem,'site(..*)?']"><a href="#/site">网站</a></li>
                <li ng-class="'active' | ifmatch:[currentItem,'database']"><a href="#/database">数据库</a></li>
                <li ng-class="'active' | ifmatch:[currentItem,'plugins(..*)?']"><a href="#/plugins">应用</a></li>
                <li ng-class="'active' | ifmatch:[currentItem,'utils(..*)?']"><a href="#/utils">工具</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="'active' | ifmatch:[currentItem,'setting(..*)?']"><a href="#/setting">设置</a></li>
                <li ng-class="'active' | ifmatch:[currentItem,'logout']"><a href="#/logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>