<div class="well" style="display:none" ng-show="$scope.installed&&!$scope.checking">
    <div ng-show="!operating">
        <p>点击下面的按钮检测扩展安装情况。</p>
    </div>
    <div ng-show="operating" ng-bind-html-unsafe="showMsg"></div>
    <p ng-show="!operating">
        <button class="btn btn-default btn-sm" style="margin-top:10px" ng-click="start()">检测扩展</button>
    </p>
    <table class="table table-condensed" style="margin-top:20px;display:none" ng-show="showExtList&&exts.length>0">
        <thead>
            <tr>
                <th>扩展名称</th>
                <th>版本</th>
                <th style="width:70px">软件源</th>
                <th style="width:70px">大小</th>
                <th style="width:90px">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ext in exts">
                <td>{{ext.name}}</td>
                <td>{{ext.version}}-{{ext.release}}</td>
                <td>{{'已安装'|iftrue:ext.repo=='installed'}}{{ext.repo|iftrue:ext.repo!='installed'}}</td>
                <td>{{ext.size}}</td>
                <td>
                    <button class="btn btn-default btn-xs" ng-show="ext.repo=='installed'"
                        ng-click="uninstall(ext.repo, ext.name, ext.version, ext.release)">删除扩展</button>
                    <button class="btn btn-default btn-xs" ng-show="ext.repo!='installed'"
                        ng-click="install(ext.repo, ext.name, ext.version, ext.release)">安装该扩展</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>